<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="icon" href="{{ asset('build/images/RisLogo1.png') }}">

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {# ----------------------------- Owl-Carousel ----------------------------- #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
              integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
              integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" />
        {# --------------x-------------- Owl-Carousel --------------x-------------- #}
        {# ----------------------------- AOS Library ----------------------------- #}
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        {# --------------x-------------- AOS Library --------------x-------------- #}
        {# ----------------------------- Gallery ----------------------------- #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha512-+EoPw+Fiwh6eSeRK7zwIKG2MA8i3rV/DGa3tdttQGgWyatG/SkncT53KHQaS5Jh9MNOT3dmFL0FjTY08And/Cw==" crossorigin="anonymous" />
        {# --------------x-------------- Gallery --------------x-------------- #}

        {{ encore_entry_link_tags('app') }}
        <title>Ris CrossFit</title>
    </head>

    {# --------------------- CSS Classes --------------------- #}
    <style>
        {# ----------------------------- Import fonts from google font ----------------------------- #}
        @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200;300;400;500;700;900&family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@300;400;700;900&display=swap');
        {# -------------------- Global classes -------------------- #}
        :root{
            --color-green: #009579;
            --color-green-glossy: #0affd2;
            --primary-gradient: linear-gradient(to right, #4e4376, #2b5876);
            --OpenSans: 'Open Sans', sans-serif;
            --Montserrat: 'Montserrat', sans-serif;
            --Lobster: 'Lobster', sans-serif;
            --Roboto: 'Roboto', sans-serif;
        }
        *{
            margin: 0;
            padding: 0;
            border: 0;
            box-sizing: border-box;
        }
        body{
            overflow-x: hidden;
            position: relative;
            background-color: #ffffff;
        }
        a:hover{
            text-decoration: none;
        }
        ::-webkit-scrollbar{
            width: 10px;
        }
        ::-webkit-scrollbar-track{
            border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb{
            background: rgba(0, 0, 0, 0.5);
            border-radius: 10px;
        }
        ::-webkit-scrollbar-thumb:hover{
            background: #a6a6a6;
        }
        {# ----------x--------- Global classes ----------x--------- #}
        {# ---------------------------- Header ---------------------------- #}
        header{
            font-family: var(--Roboto);
            top: 0;
            left: 0;
            width: 100%;
            text-transform: uppercase;
            background-color: transparent;
            padding: 16px 32px 16px 32px;
            box-shadow: 0 1px 16px rgba(0, 0, 0, 0.9);
            z-index: 100;
            align-items: center;
            justify-content: center;
            position: fixed;
        }
        .sticky{
            background-color: #222222;
            box-shadow: none;
            z-index: 20;
            transition: 0.4s ease-in-out;
        }
        nav ul{
            margin: 0;
            padding: 0;
            transform: translateY(50%);
        }
        nav, nav li{
            display: inline-block;
        }
        header img{
            width: 100px;
            margin: 0;
            padding: 0;
        }
        header a{
            outline: none;
        }
        nav{
            display: inline-block;
            /* line-height: 35px; */
            vertical-align: top;
        }
        nav li{
            margin-left: 25px;
        }
        nav li a{
            text-decoration: none;
            color: #ffffff;
        }
        nav li a:hover{
            opacity: 0.6;
            color: #ffffff;
        }
        .button-sign-in{
            text-decoration: none;
            color: #ffffff;
            float: right;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: auto;
        }
        .button-sign-in:hover{
            color: #ffffff;
            opacity: 0.6;
            transition: all ease-in-out 150ms;
        }
        .profile{
            display: flex;
            flex-direction: row;
            float: right;
        }
        .logout{
            margin-top: 10px;
        }
        .logout a{
            color: #ffffff;
        }
        .logout a:hover{
            opacity: 0.6;
        }
        #hamburger, #hamburger-content{
            display: inline;
        }
        #hamburger-content a{
            align-items: center;
            text-align: center;
            justify-content: center;
            margin-top: 4px;
        }
        #hamburger-content .fa-user-circle{
            font-size: 35px;
            padding: 0;
            margin: 0;
        }
        #hamburger-button{
            display: none;
            background: none;
            color: #ffffff;
            border: none;
            font-size: 30px;
            padding: 0;
            margin: 0;
            float: right;
            cursor: pointer;
            outline-style: none;
        }
        #hamburger-button:hover{
            opacity: 0.6;
            transition: all ease-in-out 200ms;
        }
        #hamburger-overlay{
            display: none; /* Masquer l'affichage */
            position: fixed;
            z-index: 10;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
        }
        #hamburger-sidebar{
            display: none;
            position: fixed;
            width: 84%;
            z-index: 200;
            height: 100%;
            top: 0;
            left: 0;
            background: #222222;
            transform: translateX(-100%);
            transition: transform 0.2s ease-out;
        }
        #hamburger-sidebar ul{
            padding: 0;
            margin: 0;
            transform: translateY(-2%);
        }
        #hamburger-sidebar li{
            display: block;
            margin: 10px 20px;
        }
        #hamburger-sidebar-header{
            background: url({{ asset('build/images/NavImg.jpg') }}) no-repeat center;
            height: 430px;
            background-size: cover;
        }
        #hamburger-sidebar-body{
            padding: 16px 8px;
        }
        #hamburger-sidebar-body li:before{
            content: ' ';
            display: inline-block;
            vertical-align: middle;
            width: 26px;
            height: 26px;
            /* border: 1px solid red; */
            margin-right: 16px;
        }
        #hamburger-sidebar-body li:first-child:before{
            background-image: url({{ asset('build/images/home.svg') }});
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        #hamburger-sidebar-body li:nth-child(2):before{
            background-image: url({{ asset('build/images/info.svg') }});
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        #hamburger-sidebar-body li:nth-child(3):before{
            background-image: url({{ asset('build/images/event.svg') }});
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        #hamburger-sidebar-body li:last-child:before{
             background-image: url({{ asset('build/images/email.svg') }});
             background-repeat: no-repeat;
             background-position: center;
             background-size: cover;
         }
        #hamburger-sidebar-body .profile{
            /*border: 1px solid #fdbd12;*/
            width: 100%;
            text-align: center;
            align-items: center;
            justify-content: center;
            padding: 8px;
            position: relative;
            margin: 100px auto 0;
            height: 70px;
            /*background: linear-gradient(0deg, #000, #272727);*/
        }
        #hamburger-sidebar-body .button-sign-in{
            float: none;
            display: flex;
            flex-direction: column;
            text-align: center;
            height: auto;
            font-size: 32px;
            line-height: inherit;
        }
        #hamburger-sidebar-body .button-sign-in:after{
            content: 'Se connecter';
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            /* border: 1px solid red; */
            color: #fdbd12;
            margin-top: 5px;
        }
        #hamburger-sidebar-body .logout{
            margin: auto;
        }
        #hamburger-sidebar-body .logout a{
            color: #fdbd12;
        }
        @media screen and (max-width: 1024px){
            #hamburger-content{
                display: none;
            }
            #hamburger-button, #hamburger-sidebar,
            .hamburger-activated #hamburger-overlay{
                display: block;
            }
            .hamburger-activated #hamburger-sidebar{
                transform: translateX(0);
            }
        }
        {# --------------x------------- Header --------------x------------- #}
        {# ---------------------------- Main container ---------------------------- #}
        {# ---------------------------- Site Title ---------------------------- #}
        main{
            width: 100%;
            min-height: calc(100vh - 460.53px);
            margin: 0;
            padding: 0;
        }
        main .site-background{
            background: url({{ asset('build/images/RisCrossFit.jpg') }}) no-repeat center;
            background-size: cover;
            height: 100vh;
            width: 100%;
        }

        main .blog-content img{
            max-width: 80%;
            height: auto;
        }

        canvas{
            position: absolute;
            touch-action: none;
            transform: translateY(-334%);
        }

        .site-title{
            position: absolute;
            width: 450px;
            height: 450px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transform: translate(60%, 60%);
        }

        main .site-background .site-title{
            position: relative;
            padding: 0 60px;
            z-index: 1;
            font-family: var(--Montserrat);
        }
        main .site-title h3{
            font-weight: 600;
            font-size: 3rem;
            color: #ffffff;
            text-align: center;
        }
        main .site-title p{
            color: #ffffff;
            text-align: justify;
            font-size: 0.9rem;
            margin: 0 1rem;
        }
        main .site-title .btn{
            background: none;
            color: #ffffff;
            border: 2px solid #ffffff;
            border-radius: 49px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
            width: 130px;
            height: 41px;
            font-weight: 500;
            font-size: 0.9rem;
            margin: 20px 0;
            cursor: pointer;
            outline: none;
            text-align: center;
            align-items: center;
            justify-content: center;
        }

        main .site-title .btn:hover{
            opacity: 0.85;
            color: #ffffff;
            transition: all ease-in-out 200ms;
        }

        main .site-title a{
            outline: none;
        }
        {# --------------x------------- Site Title --------------x------------- #}
        {# ---------------------------- Services ---------------------------- #}
        main .service-title{
            width: 61%;
            margin: auto;
            padding-top: 20px;
        }
        main .service-title h2{
            font-family: var(--Montserrat);
            text-transform: uppercase;
        }
        main .divider{
            display: flex;
            align-items: center;
            width: 61%;
            margin: auto;
        }
        main .divider::before{
            content: '';
            flex-grow: 1;
            height: 1px;
            background-color: #cccccc;
        }
        main .carousel-warp{
            margin: auto;
            position: relative;
            width: 65%;
            padding: 2rem;
        }
        main .item{
            display: flex;
            flex-direction: column;
            width: 150px;
            height: 150px;
            background-color: rgba(253, 189, 18, 0.8);
            align-items: center;
            justify-content: center;
            text-align: center;
            border-radius: 15px;
        }
        main .item .icon img{
            width: 80px;
            height: 80px;
            margin: auto;
            padding: 5px;
        }
        main .item .img-text{
            padding: 0 10px;
        }
        main .item .text span{
            font-size: 15px;
            font-weight: 500;
            font-family: var(--Roboto);
        }
        .owl-nav .owl-prev .owl-nav-prev,
        .owl-nav .owl-next .owl-nav-next{
            color: #cccccc;
            background: transparent;
            font-size: 1.5rem;
        }
        .owl-theme .owl-nav [class*='owl-']{
            outline: none;
        }
        .owl-theme .owl-nav [class*='owl-']:hover{
            background: transparent;
            color: #74ccf4;
        }
        {# --------------x------------- Services --------------x------------- #}
        {# ------------------------ Dispostif Covid-19 ------------------------ #}
        main .covid-background{
            background: url({{ asset('build/images/halter.jpg') }}) no-repeat center;
            background-size: cover;
            width: 100%;
        }
        main .covid-title{
            font-family: var(--Montserrat);
            color: #ffffff;
            width: 61%;
            margin: auto;
            text-align: center;
            padding-top: 30px;
        }
        main .covid-title h2{
            text-transform: uppercase;
            font-style: italic;
            font-weight: 700;
            color: #f7d00c;
        }
        main .covid-title p{
            width: 50%;
            margin: auto;
            text-align: justify;
            padding-top: 20px;
        }
        main .covid-image{
            text-align: center;
        }
        {# -----------x------------ Dispostif Covid-19 -----------x------------ #}
        {# ---------------------------- Club Services ---------------------------- #}
        main .club-services{
            width: 65%;
            margin: auto;
        }
        main .club-services .club-services-items{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 150px;
            height: 150px;
            -webkit-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.25);
            border-radius: 50%;
        }
        main .club-services ul{
            list-style: none;
            display: flex;
            padding: 20px;
        }
        main .club-services ul li{
            margin: auto;
        }
        main .club-services .club-services-items img{
            width: 70px;
            height: 70px;
        }
        main .club-services .club-services-items span{
            padding-top: 10px;
            text-align: center;
        }
        main .club-services .club-informations-items{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 120px;
            height: 120px;
        }
        main .club-services .club-informations-items img{
            width: 70px;
            height: 70px;
        }
        {# --------------x------------- Club Services --------------x------------- #}
        {# ---------------------------- Gallery ---------------------------- #}
        .gallery-section{
            width: 100%;
            padding: 60px 0;/*optionel*/
            background: #f1f1f1;
        }
        .inner-width{
            width: 100%;
            max-width: 1200px;
            margin: auto;
            padding: 0 20px;
        }
        .gallery-section h2{
            font-family: var(--Montserrat);
            text-transform: uppercase;
            text-align: center;
        }
        .border{
            width: 180px;
            height: 4px;
            background: #222222;
            margin: 15px auto;
        }
        .gallery-section .gallery{
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: center;
        }
        .gallery-section .image{
            flex: 25%;
            overflow: hidden;
            cursor: pointer;
        }
        .gallery-section .image img{
            width: 100%;
            height: 100%;
            transition: 0.4s;
        }
        .gallery-section .image:hover img{
            transform: scale(1.4) rotate(15deg);
        }
        .mfp-arrow-right,
        .mfp-arrow-left{
            outline: none !important;
        }
        @media screen and (max-width: 960px){
            .gallery-section .image{
                flex: 33.33%;
            }
        }
        @media screen and (max-width: 768px){
            .gallery-section .image{
                flex: 50%;
            }
        }
        @media screen and (max-width: 480px){
            .gallery-section .image{
                flex: 100%;
            }
        }
        {# --------------x------------- Gallery --------------x------------- #}
        {# --------------x------------- Main container --------------x------------- #}
        {# ------------------------ footer ------------------------ #}
        footer{
            font-family: var(--Montserrat);
            font-size: 13px;
            background: #222222;
            /*background-blend-mode: multiply;*/
            padding: 30px;
            width: 100%;
            z-index: 100;
        }
        footer .footer_menu{
            max-width: 900px;
            width: 100%;
            display: flex;
            margin: 0 auto 20px;
            justify-content: space-between;
        }
        footer .footer_menu ul{
            list-style-type: none;
        }
        footer .footer_menu .title{
            margin-bottom: 10px;
            color: #ffffff;
            font-weight: 600;
        }
        footer .footer_menu ul li a{
            display: block;
            margin-bottom: 6px;
            color: #ffffff;
            outline: none;
        }
        footer .footer_menu ul li a:hover{
            opacity: 0.6;
        }
        footer .partners ul{
            list-style-type: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 20px;
        }
        footer .partners ul a{
            outline: none;
        }
        footer .partners ul li a img{
            width: 200px;
            display: block;
            margin: 0 30px;
        }
        footer .social_media ul{
            list-style-type: none;
        }
        footer .social_media{
            text-align: center;
        }
        footer .social_media ul{
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        footer .social_media ul li a{
            display: block;
            margin: 0 5px;
            color: #ffffff;
            font-size: 30px;
            width: 50px;
            height: 50px;
            outline: none;
        }
        footer .social_media ul li a.facebook:hover{
            color: #1877f2;
        }
        .facebook i {
            padding: 10px;
            /* text-shadow: 0 6px 8px rgba(0, 0, 0, 0.6); */
            transition: all ease-in-out 150ms;
        }
        .facebook i:hover {
            margin-top: -3px;
            text-shadow: 0 14px 10px rgba(0, 0, 0, 0.4);
        }
        footer .social_media ul li a.instagram:hover{
            color: transparent;
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            -webkit-background-clip: text;
        }
        .instagram i {
            padding: 10px;
            /* text-shadow: 0 6px 8px rgba(0, 0, 0, 0.6); */
            transition: all ease-in-out 150ms;
        }
        .instagram i:hover {
            margin-top: -3px;
            text-shadow: 0 14px 10px rgba(0, 0, 0, 0.4);
        }
        footer .social_media ul li a.twitter:hover{
            color: #1da1f2;
        }
        .twitter i {
            padding: 10px;
            /* text-shadow: 0 6px 8px rgba(0, 0, 0, 0.6); */
            transition: all ease-in-out 150ms;
        }
        .twitter i:hover {
            margin-top: -3px;
            text-shadow: 0 14px 10px rgba(0, 0, 0, 0.4);
        }
        footer .social_media ul li a.whatsapp:hover{
            color: #00e676;
        }
        .whatsapp i {
            padding: 10px;
            /* text-shadow: 0 6px 8px rgba(0, 0, 0, 0.6); */
            transition: all ease-in-out 150ms;
        }
        .whatsapp i:hover {
            margin-top: -3px;
            text-shadow: 0 14px 10px rgba(0, 0, 0, 0.4);
        }
        footer .social_media ul li a.linkedin:hover{
            color: #0a66c2;
        }
        .linkedin i {
            padding: 10px;
            /* text-shadow: 0 6px 8px rgba(0, 0, 0, 0.6); */
            transition: all ease-in-out 150ms;
        }
        .linkedin i:hover {
            margin-top: -3px;
            text-shadow: 0 14px 10px rgba(0, 0, 0, 0.4);
        }
        footer .copyright{
            background: #222222;
            /* box-shadow: 0 1px 16px rgba(0, 0, 0, 0.9); */
            color: #ffffff;
            font-weight: 500;
            height: 30px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        footer .copyright p{
            margin: 0;
            padding: 0;
            text-align: center;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        @media (max-width: 767px){
            footer .footer_menu{
                flex-direction: column;
                width: 320px;
                margin: 0 auto 25px;
            }
            footer .footer_menu > div{
                margin: 10px 70px;
            }
            footer .partners ul li a{
                margin: 5px;
            }
        }
        {# -----------x------------ footer ------------x----------- #}
    </style>
    {# -----------x--------- CSS Classes -----------x--------- #}

    <body>
        {# --------------------------- Header --------------------------- #}
        <header>
            <a href="{{ path('home') }}">
                <img src="{{ asset('build/images/RisLogo1.png') }}" alt="Logo">
            </a>
            <div id="hamburger">
                <div id="hamburger-content">
                    <nav>
                        <ul>
                            <li><a href="{{ path('home') }}">Accueil</a></li>
                            <!-- <li><a href="#">A propos</a></li> -->
                            <li><a href="{{ path('evenements') }}">Evenements</a></li>
                            <li><a href="{{ path('contact') }}">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="profile">
                        {% if app.user is not null %}
                            <div class="logout">
                                <a href="{{ path('app_logout') }}">Se deconnecter</a>
                            </div>
                        {% endif %}
                        {% if app.user is null %}
                        <a class="button-sign-in" href="{{ path('app_login') }}"><i class="fas fa-user-circle"></i></a>
                        {% endif %}
                    </div>
                </div>
                <button id="hamburger-button"><i class="fas fa-bars"></i></button>
                <div id="hamburger-sidebar">
                    <div id="hamburger-sidebar-header"></div>
                    <div id="hamburger-sidebar-body"></div>
                </div>
                <div id="hamburger-overlay"></div>
            </div>
        </header>
        {# ------------x-------------- Header ------------x-------------- #}
        {# --------------------------- Main --------------------------- #}
        <main>
            {# --------------------------- Site Title --------------------------- #}
            <section class="site-background">
                <div class="site-title">
                    <h3>Ris CrossFit</h3>
                    <p>En devenant membre, vous accédez à des avantages exclusifs, à un coaching individuel et plus encore. Nous avons hâte de vous accueillir !</p>
                    <a href="{{ path('app_login') }}">
                        <input class="btn" type="button" value="S'inscrire">
                    </a>
                </div>
            </section>
            {# ------------x-------------- Site Title ------------x-------------- #}
            {# --------------------------- Services --------------------------- #}
            <section>
                <div class="service-title">
                    <h2>Pourquoi Ris ?</h2>
                </div>
                <div class="divider"></div>
                <div class="carousel-warp">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="icon">
                                <img src="{{ asset('build/images/CoachingParticulier.svg') }}" alt="">
                            </div>
                            <div class="img-text">
                                <span>Coaching particulier</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="icon">
                                <img src="{{ asset('build/images/ProgrammeEntrainement.svg') }}" alt="">
                            </div>
                            <div class="img-text">
                                <span>Programme personnalisé</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="icon">
                                <img src="{{ asset('build/images/EspaceFemme.svg') }}" alt="">
                            </div>
                            <div class="-img-text">
                                <span>Espace femme</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="icon">
                                <img src="{{ asset('build/images/ServiceQualite.svg') }}" alt="">
                            </div>
                            <div class="img-text">
                                <span>Service de qualité</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="icon">
                                <img src="{{ asset('build/images/EquipementsHautGamme.svg') }}" alt="">
                            </div>
                            <div class="img-text">
                                <span>Equipements haut de gamme</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="icon">
                                <img src="{{ asset('build/images/EspaceDetente.svg') }}" alt="">
                            </div>
                            <div class="img-text">
                                <span>Espace détente</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="icon">
                                <img src="{{ asset('build/images/CrossTraining.svg') }}" alt="">
                            </div>
                            <div class="img-text">
                                <span>Cross training</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-navigation">
                    <span class="owl-nav-next"><i class="fas fa-chevron-right"></i></span>
                    <span class="owl-nav-prev"><i class="fas fa-chevron-left"></i></span>
                </div>
            </section>
            {# ------------x-------------- Services ------------x-------------- #}
            {# --------------------------- Dispostif Covid-19 --------------------------- #}
            <section class="covid-background">
                <div class="covid-title">
                    <h2>Dispositif covid-19</h2>
                    <h5>Pour se protéger et protéger les autres</h5>
                    <p>Distanciation sanitaire, aménagement des espaces, protections personnelles,  désinfection renforcée, règles strictes d'utilisation des équipements ...
                        <br>Nous nous engageons à mettre en oeuvre toutes les règles sanitaires nécessaires pour faire de notre club de lieu de vie sains et protégés pour rebooster tes défenses immunitaires dès notre réouverture.</p>
                </div>
                <div class="covid-image">
                    <img src="{{ asset('build/images/covid.png') }}" alt="">
                </div>
            </section>
            {# ------------x-------------- Dispostif Covid-19 ------------x-------------- #}
            {# --------------------------- Club Services --------------------------- #}
            <section>
                <div class="service-title">
                    <h2>Nos services</h2>
                </div>
                <div class="divider"></div>
                <div class="club-services">
                    <ul>
                        <li>
                            <div class="club-services-items">
                                <img src="{{ asset('build/images/musculation.svg') }}" alt="">
                                <span>Musculation</span>
                            </div>
                        </li>
                        <li>
                            <div class="club-services-items">
                                <img src="{{ asset('build/images/CardioTraining.svg') }}" alt="">
                                <span>Cardio training</span>
                            </div>
                        </li>
                        <li>
                            <div class="club-services-items">
                                <img src="{{ asset('build/images/biking.svg') }}" alt="">
                                <span>Biking</span>
                            </div>
                        </li>
                        <li>
                            <div class="club-services-items">
                                <img src="{{ asset('build/images/EspaceAbdosStretching.svg') }}" alt="">
                                <span>Espace abdos stretching</span>
                            </div>
                        </li>
                        <li>
                            <div class="club-services-items">
                                <img src="{{ asset('build/images/CoursVideo.svg') }}" alt="">
                                <span>Cours vidéo</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="service-title">
                    <h5>Informations pratiques</h5>
                </div>
                <div class="club-services">
                    <ul>
                        <li>
                            <div class="club-informations-items">
                                <img src="{{ asset('build/images/douche_individuelle.svg') }}" alt="">
                                <span>Douche individuelle</span>
                            </div>
                        </li>
                        <li>
                            <div class="club-informations-items">
                                <img src="{{ asset('build/images/climatisation.svg') }}" alt="">
                                <span>Espace<br>climatisé</span>
                            </div>
                        </li>
                        <li>
                            <div class="club-informations-items">
                                <img src="{{ asset('build/images/casier_recharge.svg') }}" alt="">
                                <span>Casier de recharges</span>
                            </div>
                        </li>
                        <li>
                            <div class="club-informations-items">
                                <img src="{{ asset('build/images/parking_gratuit.svg') }}" alt="">
                                <span>Parking<br>gratuit</span>
                            </div>
                        </li>
                        <li>
                            <div class="club-informations-items">
                                <img src="{{ asset('build/images/wifi_gratuit.svg') }}" alt="">
                                <span>Wifi<br>gratuit</span>
                            </div>
                        </li>
                        <li>
                            <div class="club-informations-items">
                                <img src="{{ asset('build/images/produit_desinfectant.svg') }}" alt="">
                                <span>Produit desinfectant</span>
                            </div>
                        </li>
                        <li>
                            <div class="club-informations-items">
                                <img src="{{ asset('build/images/distributeur_automatique.svg') }}" alt="">
                                <span>Distributeur automatique</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            {# ------------x-------------- Club Services ------------x-------------- #}
            {# --------------------------- Gallery --------------------------- #}
            <section>
                <div class="gallery-section">
                    <div class="inner-width">
                        <h2>Gallery</h2>
                        <div class="border"></div>
                        <div class="gallery">
                            <a class="image" href="{{ asset('build/images/Oweight_lift.jpg') }}">
                                <img src="{{ asset('build/images/weight_lift.jpg') }}" alt="">
                            </a>
                            <a class="image" href="{{ asset('build/images/Ocaper.jpg') }}">
                                <img src="{{ asset('build/images/caper.jpg') }}" alt="">
                            </a>
                            <a class="image" href="{{ asset('build/images/Oslipper.jpg') }}">
                                <img src="{{ asset('build/images/slipper.jpg') }}" alt="">
                            </a>
                            <a class="image" href="{{ asset('build/images/Otired.jpg') }}">
                                <img src="{{ asset('build/images/tired.jpg') }}" alt="">
                            </a>
                            <a class="image" href="{{ asset('build/images/Ohigh_five.jpg') }}">
                                <img src="{{ asset('build/images/high_five.jpg') }}" alt="">
                            </a>
                            <a class="image" href="{{ asset('build/images/Obarfix.jpg') }}">
                                <img src="{{ asset('build/images/barfix.jpg') }}" alt="">
                            </a>
                            <a class="image" href="{{ asset('build/images/Ocouple.jpg') }}">
                                <img src="{{ asset('build/images/couple.jpg') }}" alt="">
                            </a>
                            <a class="image" href="{{ asset('build/images/Oworkout.jpg') }}">
                                <img src="{{ asset('build/images/workout.jpg') }}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            {# ------------x-------------- Gallery ------------x-------------- #}
        </main>
        {# ------------x-------------- Main ------------x-------------- #}
        {# --------------------------- Footer --------------------------- #}
        <footer>
            <div class="footer_menu">
                <div class="col_1">
                    <div class="title">
                        Ris CrossFit
                    </div>
                    <ul>
                        <li><a href="{{ path('home') }}">Accueil</a></li>
                        <!-- <li><a href="#">À propos</a></li> -->
                        <li><a href="{{ path('evenements') }}">Evenements</a></li>
                        <li><a href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                </div>
                <div class="col_2">
                    <div class="title">
                        Help & Support
                    </div>
                    <ul>
                        <li><a href="#">Support Center</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Call Center</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
                <div class="col_3">
                    <div class="title">
                        Services
                    </div>
                    <ul>
                        <li><a href="#">Business Consultancy</a></li>
                        <li><a href="#">Digital Marketing</a></li>
                        <li><a href="#">Market Analysis</a></li>
                        <li><a href="#">Web Development</a></li>
                    </ul>
                </div>
                <div class="col_4">
                    <div class="title">
                        Solutions
                    </div>
                    <ul>
                        <li><a href="#">Facilities Services</a></li>
                        <li><a href="#">Workplace Staffing</a></li>
                        <li><a href="#">Project Management</a></li>
                        <li><a href="#">Wordpress Management</a></li>
                    </ul>
                </div>
            </div>
            <div class="partners">
                <ul>
                    <li>
                        <a class="partner1" href="https://www.redbull.com/fr-fr/" target="_blank">
                            <img src="{{ asset('build/images/RedBull.png') }}" style="margin-top: 30px;">
                        </a>
                    </li>
                    <li>
                        <a class="partner2" href="https://www.nike.com/fr/" target="_blank">
                            <img src="{{ asset('build/images/WNike.png') }}" style="margin-top: 5px;">
                        </a>
                    </li>
                    <li>
                        <a class="partner3" href="https://www.reebok.fr/" target="_blank">
                            <img src="{{ asset('build/images/Reebok.png') }}" style="margin-top: 38px;">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="social_media">
                <ul>
                    <li><a class="facebook" href="https://www.facebook.com/" target="_blank">
                            <i class="fab fa-facebook-square"></i></a></li>
                    <li><a class="instagram" href="https://www.instagram.com/" target="_blank">
                            <i class="fab fa-instagram"></i></a></li>
                    <li><a class="twitter" href="https://twitter.com/?lang=fr" target="_blank">
                            <i class="fab fa-twitter"></i></a></li>
                    <li><a class="whatsapp" href="tel:+33603941673">
                            <i class="fab fa-whatsapp"></i></a></li>
                    <li><a class="linkedin" href="https://www.linkedin.com/in/matine-nassirpour-01ba831a6/" target="_blank">
                            <i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="copyright">
                <p>
                    &copy; Matine
                    <script>document.write(new Date().getFullYear())</script>
                </p>
            </div>
        </footer>
        {# ------------x-------------- Footer -------------x------------- #}

        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>
        {# --------------------------- Gallery --------------------------- #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w==" crossorigin="anonymous"></script>
        {# ------------x-------------- Gallery ------------x-------------- #}
        {# --------------------------- Font Awesome CDN --------------------------- #}
        <script src="https://kit.fontawesome.com/30428b0ab5.js" crossorigin="anonymous"></script>
        {# ------------x-------------- Font Awesome CDN ------------x-------------- #}

        {# --------------------------- Owl-Carousel CDN --------------------------- #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
        {# ------------x-------------- Owl-Carousel CDN ------------x-------------- #}

        {# --------------------------- AOS Library --------------------------- #}
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        {# ------------x-------------- AOS Library ------------x-------------- #}
        {{ encore_entry_script_tags('app') }}

        {# --------------------------- Scroll Header --------------------------- #}
        <script>
            window.addEventListener("scroll", function(){
                var header = document.querySelector("header");
                header.classList.toggle("sticky", window.scrollY > 0);
            });
        </script>
        {# ------------x-------------- Scroll Header ------------x-------------- #}

        {# --------------------------- Navbar --------------------------- #}
        <script>
            var content = document.querySelector('#hamburger-content');
            var sidebarBody = document.querySelector('#hamburger-sidebar-body');
            var button = document.querySelector('#hamburger-button');
            var overlay = document.querySelector('#hamburger-overlay');
            var activatedClass = 'hamburger-activated';

            sidebarBody.innerHTML = content.innerHTML;

            button.addEventListener('click', function(e){
                e.preventDefault();
                this.parentNode.classList.add(activatedClass);
            });

            button.addEventListener('keydown', function(e){
                if(this.parentNode.classList.contains(activatedClass))
                {
                    if(e.repeat === false && e.which === 27)
                        this.parentNode.classList.remove(activatedClass);
                }
            });

            overlay.addEventListener('click', function(e){
                e.preventDefault();
                this.parentNode.classList.remove(activatedClass);
            });
        </script>
        {# ------------x-------------- Navbar ------------x-------------- #}

        {# --------------------------- bubble --------------------------- #}
        <script>
            let canvas, ctx;
            let render, init;
            let blob;

            class Blob {
                constructor() {
                    this.points = [];
                }

                init() {
                    for (let i = 0; i < this.numPoints; i++) {
                        let point = new Point(this.divisional * (i + 1), this);
                        // point.acceleration = -1 + Math.random() * 2;
                        this.push(point);
                    }
                }

                render() {
                    let canvas = this.canvas;
                    let ctx = this.ctx;
                    let position = this.position;
                    let pointsArray = this.points;
                    let radius = this.radius;
                    let points = this.numPoints;
                    let divisional = this.divisional;
                    let center = this.center;

                    ctx.clearRect(0, 0, canvas.width, canvas.height);

                    pointsArray[0].solveWith(pointsArray[points - 1], pointsArray[1]);

                    let p0 = pointsArray[points - 1].position;
                    let p1 = pointsArray[0].position;
                    let _p2 = p1;

                    ctx.beginPath();
                    ctx.moveTo(center.x, center.y);
                    ctx.moveTo((p0.x + p1.x) / 2, (p0.y + p1.y) / 2);

                    for (let i = 1; i < points; i++) {

                        pointsArray[i].solveWith(pointsArray[i - 1], pointsArray[i + 1] || pointsArray[0]);

                        let p2 = pointsArray[i].position;
                        var xc = (p1.x + p2.x) / 2;
                        var yc = (p1.y + p2.y) / 2;
                        ctx.quadraticCurveTo(p1.x, p1.y, xc, yc);
                        // ctx.lineTo(p2.x, p2.y);

                        ctx.fillStyle = '#000000';
                        // ctx.fillRect(p1.x-2.5, p1.y-2.5, 5, 5);

                        p1 = p2;
                    }

                    var xc = (p1.x + _p2.x) / 2;
                    var yc = (p1.y + _p2.y) / 2;
                    ctx.quadraticCurveTo(p1.x, p1.y, xc, yc);
                    // ctx.lineTo(_p2.x, _p2.y);

                    // ctx.closePath();
                    ctx.fillStyle = this.color;
                    ctx.fill();
                    ctx.strokeStyle = '#ff0000';
                    // ctx.stroke();

                    /*
                        ctx.fillStyle = '#000000';
                        if(this.mousePos) {
                          let angle = Math.atan2(this.mousePos.y, this.mousePos.x) + Math.PI;
                          ctx.fillRect(center.x + Math.cos(angle) * this.radius, center.y + Math.sin(angle) * this.radius, 5, 5);
                        }
                    */
                    requestAnimationFrame(this.render.bind(this));
                }

                push(item) {
                    if (item instanceof Point) {
                        this.points.push(item);
                    }
                }

                set color(value) {
                    this._color = value;
                }
                get color() {
                    return this._color || 'rgba(116, 204, 244, 0.6)';
                }

                set canvas(value) {
                    if (value instanceof HTMLElement && value.tagName.toLowerCase() === 'canvas') {
                        this._canvas = canvas;
                        this.ctx = this._canvas.getContext('2d');
                    }
                }
                get canvas() {
                    return this._canvas;
                }

                set numPoints(value) {
                    if (value > 2) {
                        this._points = value;
                    }
                }
                get numPoints() {
                    return this._points || 32;
                }

                set radius(value) {
                    if (value > 0) {
                        this._radius = value;
                    }
                }
                get radius() {
                    return this._radius || 200;
                }

                set position(value) {
                    if (typeof value == 'object' && value.x && value.y) {
                        this._position = value;
                    }
                }
                get position() {
                    return this._position || { x: 0.258, y: 0.5 };
                }

                get divisional() {
                    return Math.PI * 2 / this.numPoints;
                }

                get center() {
                    return { x: this.canvas.width * this.position.x, y: this.canvas.height * this.position.y };
                }

                set running(value) {
                    this._running = value === true;
                }
                get running() {
                    return this.running !== false;
                }}


            class Point {
                constructor(azimuth, parent) {
                    this.parent = parent;
                    this.azimuth = Math.PI - azimuth;
                    this._components = {
                        x: Math.cos(this.azimuth),
                        y: Math.sin(this.azimuth) };


                    this.acceleration = -0.3 + Math.random() * 0.6;
                }

                solveWith(leftPoint, rightPoint) {
                    this.acceleration = (-0.3 * this.radialEffect + (leftPoint.radialEffect - this.radialEffect) + (rightPoint.radialEffect - this.radialEffect)) * this.elasticity - this.speed * this.friction;
                }

                set acceleration(value) {
                    if (typeof value == 'number') {
                        this._acceleration = value;
                        this.speed += this._acceleration * 2;
                    }
                }
                get acceleration() {
                    return this._acceleration || 0;
                }

                set speed(value) {
                    if (typeof value == 'number') {
                        this._speed = value;
                        this.radialEffect += this._speed * 5;
                    }
                }
                get speed() {
                    return this._speed || 0;
                }

                set radialEffect(value) {
                    if (typeof value == 'number') {
                        this._radialEffect = value;
                    }
                }
                get radialEffect() {
                    return this._radialEffect || 0;
                }

                get position() {
                    return {
                        x: this.parent.center.x + this.components.x * (this.parent.radius + this.radialEffect),
                        y: this.parent.center.y + this.components.y * (this.parent.radius + this.radialEffect) };

                }

                get components() {
                    return this._components;
                }

                set elasticity(value) {
                    if (typeof value === 'number') {
                        this._elasticity = value;
                    }
                }
                get elasticity() {
                    return this._elasticity || 0.001;
                }
                set friction(value) {
                    if (typeof value === 'number') {
                        this._friction = value;
                    }
                }
                get friction() {
                    return this._friction || 0.0085;
                }}


            blob = new Blob();

            init = function () {
                canvas = document.createElement('canvas');
                canvas.setAttribute('touch-action', 'none');

                document.body.appendChild(canvas);

                let resize = function () {
                    canvas.width = window.innerWidth;
                    canvas.height = window.innerHeight;
                };
                window.addEventListener('resize', resize);
                resize();

                let oldMousePoint = { x: 0, y: 0 };
                let hover = false;
                let mouseMove = function (e) {

                    let pos = blob.center;
                    let diff = { x: e.clientX - pos.x, y: e.clientY - pos.y };
                    let dist = Math.sqrt(diff.x * diff.x + diff.y * diff.y);
                    let angle = null;

                    blob.mousePos = { x: pos.x - e.clientX, y: pos.y - e.clientY };

                    if (dist < blob.radius && hover === false) {
                        let vector = { x: e.clientX - pos.x, y: e.clientY - pos.y };
                        angle = Math.atan2(vector.y, vector.x);
                        hover = true;
                        // blob.color = '#77FF00';
                    } else if (dist > blob.radius && hover === true) {
                        let vector = { x: e.clientX - pos.x, y: e.clientY - pos.y };
                        angle = Math.atan2(vector.y, vector.x);
                        hover = false;
                        blob.color = null;
                    }

                    if (typeof angle == 'number') {

                        let nearestPoint = null;
                        let distanceFromPoint = 100;

                        blob.points.forEach(point => {
                            if (Math.abs(angle - point.azimuth) < distanceFromPoint) {
                                // console.log(point.azimuth, angle, distanceFromPoint);
                                nearestPoint = point;
                                distanceFromPoint = Math.abs(angle - point.azimuth);
                            }

                        });

                        if (nearestPoint) {
                            let strength = { x: oldMousePoint.x - e.clientX, y: oldMousePoint.y - e.clientY };
                            strength = Math.sqrt(strength.x * strength.x + strength.y * strength.y) * 10;
                            if (strength > 100) strength = 100;
                            nearestPoint.acceleration = strength / 100 * (hover ? -1 : 1);
                        }
                    }

                    oldMousePoint.x = e.clientX;
                    oldMousePoint.y = e.clientY;
                };
                // window.addEventListener('mousemove', mouseMove);
                window.addEventListener('pointermove', mouseMove);

                blob.canvas = canvas;
                blob.init();
                blob.render();
            };

            init();
        </script>
        {# ------------x-------------- bubble ------------x-------------- #}

        {# --------------------------- Owl carousel for services --------------------------- #}
        <script>
            $('.owl-carousel').owlCarousel({
                loop:true,
                dots:false,
                nav:true,
                navText:[$('.owl-navigation .owl-nav-prev'),$('.owl-navigation .owl-nav-next')],
                responsive:{
                    0:{
                        items:1
                    },
                    650:{
                        items:2
                    },
                    830:{
                        items:3
                    },
                    1024:{
                        items:4
                    },
                    1400:{
                        items:5
                    },
                    1650:{
                        items:6
                    }
                }
            })
        </script>
        {# ------------x-------------- Owl carousel for services ------------x-------------- #}

        {# --------------------------- AOS --------------------------- #}
        <script>
            AOS.init();
        </script>
        {# ------------x-------------- AOS ------------x-------------- #}
        {# --------------------------- Gallery --------------------------- #}
        <script>
            $(".gallery").magnificPopup({
                delegate: 'a',
                type: 'image',
                gallery:{
                    enabled: true
                }
            });
        </script>
        {# ------------x-------------- Gallery ------------x-------------- #}
    </body>
</html>